<!-- <nav>
  <div class="headers">
    <a> <img class="logo" src="../assets/apple-touch-icon.png" alt=""></a>
    <ul>
      <li> <a routerLink="/home">Home</a></li>
      <li> <a routerLink="/cars">Our Cars</a></li>
      <li> <a routerLink="/about">About us</a></li>
      
    </ul>
  </div>
</nav>
<div class="title">
  <h1>{{title}}</h1> 
</div>
-->
<router-outlet></router-outlet>

<header>
  <a href="#" class="logo">ISAAC'X</a>
  <ul class="navigation">
    <li> <a routerLink="/home">Home</a></li>
    <li> <a routerLink="/cars">Our Cars</a></li>
    <li> <a routerLink="/about">About me</a></li>
  </ul>
  <div class="search">
    <input type="text" placeholder="Search">
    <i class="fa fa-search" aria-hidden="true"></i>
  </div>
</header>