<div class="banner"> 
    <div class="content">
      <h2>Um teste de responsividade do site</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vel ad eos commodi magni accusamus, 
        maiores, exercitationem eaque ea optio delectus, voluptas assumenda voluptatem
        repudiandae! Excepturi aspernatur esse obcaecati impedit!Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vel ad eos commodi magni accusamus, 
        maiores, exercitationem eaque ea optio delectus, voluptas assumenda voluptatem
        repudiandae! Excepturi aspernatur esse obcaecati impedit!</p>
        <a href="#">Read More</a>
    </div>
    <img src="../assets/read.png" class="image">
   </div>