/* You can add global styles to this file, and also import other style files */
body{
    text-align: center;
    height: 100vh;
     background: #434978;
    background-size: cover;
}

*{
    padding: 0;
    margin: 0 0 0 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
   
}
header{
    min-width: 100%;
}
 